.vscode/
.vscode
.ipynb_checkpoints/
.ipynb_checkpoints
src-test
src-test/
trainer/__pycache__
trainer/__pycache__/

**/*.exe
converter/convert

converter/*.txt
trainer/*.bin

sprt.py
*.epd
*.pgn
games.txt
games.pgn
debug.txt
notes.txt
stderr.txt


