.vscode/
.vscode
.ipynb_checkpoints/
.ipynb_checkpoints
src-test
src-test/
trainer/nets
trainer/nets/
trainer/__pycache__
trainer/__pycache__/

**/*.exe
**/*.txt
!trainer/printPolicy.txt
**/*.bin
!trainer/printPolicy.bin
**/*.json
**/*.pth

games.txt
games.pgn
debug.txt
notes.txt
stderr.txt

sprt.py
*.epd
*.pgn

